{% extends 'base.html' %}
{% block chef %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <center>{{ form.chef_id.label}} {{ form.chef_id }}</center>
    <br>
    <center>{{ form.name.label }} {{ form.name }}</center>
    {% if form.name.errors %}
    <div class='error'>
        {% for error in form.name.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% endif %}
    <br>
    <center>{{ form.crust.label }} {{ form.crust }}</center>
    <br>
    <center>{{ form.base.label }} {{ form.base }}</center>
    <br>
    <center>{{ form.topping1.label }} {{ form.topping1 }}</center>
    <br>
    <center>{{ form.topping2.label }} {{ form.topping2 }}</center>
    <br>
    <center>{{ form.topping3.label }} {{ form.topping3 }}</center>
    <br>
    <center>{{ form.topping4.label }} {{ form.topping4 }}</center>
    <br>
    <center>{{ form.topping5.label }} {{ form.topping5 }}</center>
    </div>
    <br>
    <center><input class="btn btn-primary" type="submit" value="Submit"></center>
    </form>
    {% endblock chef %}

    <center>  