{% extends 'base.html' %}
{% block chef %}

<h1></h1>
<br>
<center><h4>Pizza chef's:</h4></center>
    <p>
    {% for chef in chef %}
    <center>Master Name: {{ chef.name }} <br></center>
        <br>
        <center><span><a href="{{ url_for('updatechef', name=chef.name) }}">Update</a></span>
        <span><a href="{{ url_for('deletechef', name=chef.name) }}">Delete</a></span></center>
        <br>
        <br>
    {% endfor %}
    <center><h4>Custom Made Pizza's:</h4></center>
    {% for pizza in pizza %}
    <br>
        <center>Chef: {{ pizza.chef.name }} </center> 
        <br>
        <center> Pizza name: {{ pizza.name }} </center>
        <br>
        <center> Crust: {{ pizza.crust }} </center>
        <br>
        <center>base: {{ pizza.base }}
        <br>
        <center> topping1: {{ pizza.topping1 }} </center>
        <br>
        <center> topping2: {{ pizza.topping2 }} </center>
        <br>
        <center> topping3: {{ pizza.topping3 }} </center>
        <br>
        <center> topping4: {{ pizza.topping4 }} </center>
        <br>
        <center> topping5: {{ pizza.topping5 }} </center>
        <br>
        <center><button><span><a href="{{ url_for('deletepizza', name=pizza.name) }}">Delete Pizza</a></span></button>
        <br>
        {% endfor %}  
        </p>
    {% endblock chef %}