{% extends 'base.html' %}
{% block title %}Fantasy Pizza{% endblock %}

{% block content %}
<h1>test</h1>
<br>
<h3>All Pizza chef:</h3>
    <p>
    {% for chef in chef %}
        name: {{ chef.name }} <br>
        <br>
        <span><a href="{{ url_for('update', name=chef.name) }}">Update</a></span>
        <span><a href="{{ url_for('delete', name=chef.name) }}">Delete</a></span> 
        <br>
        <br>
    {% endfor %}
    {% for pizza in pizzas %}
        chef: {{ pizza.chef.name }}
        name: {{ pizza.name }}
        crust: {{ pizza.crust }}
        base: {{ pizza.base }}
        topping1: {{ pizza.topping1 }}
        topping2: {{ pizza.topping2 }}
        topping3: {{ pizza.topping3 }}
        topping4: {{ pizza.topping4 }}
        topping5: {{ pizza.topping5 }}
        {% endfor %}  
    {% endblock %}